@charset "UTF-8";
/* Body */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, footer, header,  main, nav, section {
  display: block;
}

body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	color:#285943;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
p{
	color:#F2FFF1;
	line-height: 1.5;

}


/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #F2F2F2;
}
/* Navigation */
header {
    width: 100%;
    height: 5%;
    background-color: #77AF9C;
    border-bottom: 1px solid #285943;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 15%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav  {
	float: left;
	width: 80%;
	text-align: right;
	margin-right: 15px;
}
header nav ul {
	list-style: none;
	float: left;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
nav #account {
	float: right;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-top: 15px;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
    color: #252840;
}


/*
#button {
  display: inline-block;
  background-color: #80F609;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
*/

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #77AF9C;
  border-color: #5CAB7D;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5A9367;
  border-color: #5CAB7D;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #44633F;
  border-color: #5A9367;
  box-shadow: 0 0 0 0.2rem rgba(92,171,125, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #77AF9C;
  border-color: #5A9367;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5CAB7D;
  border-color: #5A9367;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(92,171,125, 0.5);
}
.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

/*
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none; align-items:center;}
*/



.login-wrap{
    width:100%;
    margin:auto;
    max-width:600px;
    min-height:670px;
    position:relative;
    background:url(https://www.keckmedicine.org/wp-content/uploads/2018/04/Medical-doctors-and-nurse-practitioners-discuss-paperwork-in-a-hallway.jpg
	) no-repeat center;
	background-size:cover;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(215,255,241,.6);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
/*  background-color: #e9ecef;*/
  border-radius: 0.3rem;
}
.text-center {
  text-align: center !important;
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}


a {
	color:#5A9367;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #285943;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}



/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}

.footer_banner .stats {
	color: #FFFFFF;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.footer_banner .thumb {
	width: 40%;
	text-align: center;
	float: left;
	margin-top: 35px;
	margin-left: 25px;
	margin-right: 25px;

}


.footer_banner .thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
	
}


 .footer_banner .thumbnail h4 {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #285943;
}

.footer_banner #intro {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	color: #548687;
	text-align:justify;
}
.footer_banner p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #548687;	
}
.footer_banner a{
/*	float:right;*/
	color:inherit;
	text-decoration:none; 
	align-items:center;
	margin-right: auto;
}


.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #285943;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #77AF9C;
	padding-top: 40px;
	padding-bottom: 100PX;
	
	margin-top: 8px;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
	clear: both;
	display: inline-block;
	width: 100%;

footer {
	display: inline-block;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
.top-nav {
}


/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}

.thumbnail {
	width: 50%;
}

.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}

