<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DrChrono</title>
<link href="css/singlePageTemplate.css" rel="stylesheet" type="text/css">
</head>
	
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header> <a href="">
    <h2 class="logo">DrChrono</h2>
    </a>
    <nav class="top-nav">
      <ul>
        <li><a href="#hero">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li> <a href="#contact">CONTACT</a></li>
      </ul>
	<span id="account">ACCOUNT</span>
    </nav>	  
  </header>
  <!-- Hero Section -->
  <section class="hero">
	<aside class= "log-image">		  
		
	</aside>  

<div class="login-wrap">
	<div class="login-html">
	<div class="jumbotron jumbotron-fluid text-center">
       <h1 class=display-4>Dr. Chrono Login</h1>
       <p class="lead">Description</p>
       <hr class="my-4">
       <p><a class="btn btn-primary btn-lg" href="https://drchrono.com/o/authorize/?redirect_uri=https%3A%2F%2Fdrdash.herokuapp.com%2F&response_type=code&client_id=RmxLsz3PqHVeEPBTtGw61cMVBYe8B0lLmKM7pHfV&scope=calendar%3Aread calendar%3Awrite clinical%3Aread clinical%3Awrite labs%3Aread labs%3Awrite messages%3Aread messages%3Awrite patients%3Aread patients%3Asummary%3Aread patients%3Asummary%3Awrite patients%3Awrite settings%3Aread settings%3Awrite tasks%3Aread tasks%3Awrite user%3Aread user%3Awrite" role="button">Login with Dr Chrono</a><br>
		   <br>
		   Don't have an account? <a href="https://www.drchrono.com/sign-up/"> Sign up here!</a>
		</p>
    </div>

	</div>
</div>	 
</section>
  <!-- Footer Section -->
  <section class="footer_banner">
	 <div class="thumb">
      <h3 class="stats">WHo we are</h3>
      <p id="intro"> At DrChrono, we believe that the practice of the future starts in the philosophy of the past – where personalized, dedicated, one-on-one care is paramount. Where screen-time is replaced by face-time. And where technology adapts to the provider, not the other way around.</p>

    </div>
<div class="thumbnail">
    <h3 class="stats">CONTACT</h3>
    <p>Call us: (844) 569-8628 <br>
		Text us: (650) 215-6343</p>
      <p>info@drchrono.com</p>
      <p>328 Gibraltar Dr</p>
      <p>Boston, MA 02123</p>
</div>
    <div class="thumbnail">
      <h3 class="stats">About</h3>
      <p>Privacy Policy</p>
      <p>Terms of Use</p>
	  <a href="https://apps.apple.com/us/app/drchrono-ehr-emr/id369191782?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 200px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1272326400&h=9bed1d93979b252401dd70e49fee2f51" alt="Download on the App Store" style="border-radius: 13px; width: 120px; height: 83px;"></a>
    </div>
<!--	  <a href='https://play.google.com/store/apps/details?id=com.drchrono&hl=en&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' style=" width: 130px; height: 60px;"/></a>-->
</section>

  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021- Copyright<strong></strong></div>

</div>
<!-- Main Container Ends -->
</body>
</html>
