<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Portfolio Page Template</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-4.4.2.css'}" rel="stylesheet">

  <!-- Django -->
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- End of Django -->

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DrChrono</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<section>
<div class="jumbotron text-center mt-2 col-lg-12">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-12 text-center">
			  <div class="login-wrap">
				  	<div class="login-html">
			  <h2>We care.</h2>						
				  </div>
		    </div>
          </div>
			
  <div class="jumbotron jumbotron-fluid text-center">
     <h1 class="display-4">Dr. Chrono Login</h1>
     <p class="lead"></p>
     <hr class="my-4">
     <a class="btn btn-primary btn-lg" href="https://drchrono.com/o/authorize/?redirect_uri=https%3A%2F%2Fdrdash.herokuapp.com%2F&response_type=code&client_id=RmxLsz3PqHVeEPBTtGw61cMVBYe8B0lLmKM7pHfV&scope=calendar%3Aread calendar%3Awrite clinical%3Aread clinical%3Awrite labs%3Aread labs%3Awrite messages%3Aread messages%3Awrite patients%3Aread patients%3Asummary%3Aread patients%3Asummary%3Awrite patients%3Awrite settings%3Aread settings%3Awrite tasks%3Aread tasks%3Awrite user%3Aread user%3Awrite" role="button">Login with Dr Chrono</a> <br>
       <br>
       <br>
     <p id="signup"> Don't have an account? <a href="https://www.drchrono.com/sign-up/" ><strong>Sign up here!</strong></a></p>
  </div>
</div>
  </div>
			
        </div>
    </section>
    
  <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-12">
            <h3 class="text-center">WHO WE ARE</h3>
            <p>At DrChrono, we believe that the practice of the future starts in the philosophy of the past – where personalized, dedicated, one-on-one care is paramount. Where screen-time is replaced by face-time. And where technology adapts to the provider, not the other way around.</p>
          </div>
          <div class="col-md-4 col-12">
            <h3 class="text-center">GET IN TOUCH</h3>
            <address class="text-center">
            <strong>MyCompany, Inc.</strong><br>
328 Gibraltar Dr<br>
Sunnyvale, CA 94089
            </address>
            <address class="text-center">
            <abbr title="Phone"></abbr> Call us at (844) 569-8628<br>
text us at (650) 215-6343
            </address>
          </div>
          <div class="col-md-4 col-12">
            <h3 class="text-center">ABOUT</h3>
			  <p>Privacy Policy<br>
				  Terms of Use
			  </p>
			  	  <a class = "logo" href="https://apps.apple.com/us/app/drchrono-ehr-emr/id369191782?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 150px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1272326400&h=9bed1d93979b252401dd70e49fee2f51" alt="Download on the App Store" class="d-xl-none" style="border-radius: 13px; width: 120px; height: 83px;"></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © 2021. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.min.js'}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/popper.min.js'}"></script>
    <script src="{% static 'js/bootstrap-4.4.1.js'}"></script>
  </body>
</html>